  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="夏恺, xiaket, {{ site.m17n[page.lang].desc }}">
  <meta name="author" content="夏恺, Kai Xia, xiaket">
  <meta name="keywords" content="python, macOS, programming, software, server">
  {% seo %}
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="/media/blog.css" integrity="sha384-qArzne9wJ3lov9d1FgMgxn3V4UQFM7u+S0OCXKE35PzDRw3QCro6a71DUejp2HMX" crossorigin="anonymous">
  <link type="application/rss+xml" rel="alternate" href="/feed.xml" title="年华转瞬">
  <link rel="icon" type="img/png" href="/media/favicon.png">
  <link rel="apple-touch-icon" href="/media/favicon.png">
  <link rel="shortcut icon" href="/media/favicon.png" type="image/x-icon">
  <link rel="mask-icon" href="/media/favicon.png">
