  <header id="header">
    <div id="header-container">
      <div id="header-logo">
        <a href="/"><canvas id="logo" width="100" height="100"></canvas></a>
      </div>
      <div id="header-text">
        <p>夏恺, Kai Xia. <a href="mailto:xiaket@gmail.com">xiaket</a>. {{ site.m17n[page.lang].loca }}</p>
        <p>{{ site.m17n[page.lang].desc }}</p>
      </div>
      <div id='social_buttons'>
        <a href="/archive.html"><i class="icon-list"></i></a>
        <a href="https://github.com/xiaket" target="_blank" rel="noopener"><i class="icon-github"></i></a>
        <a href="https://twitter.com/xiaket" target="_blank" rel="noopener"><i class="icon-twitter"></i></a>
      </div>
    </div>
    <div id="header-padding-left"></div>
    <div id="header-padding-right"></div>
  </header>
