  <header id="header">
    <a href="/"><canvas id="logo" width="100" height="100"></canvas></a>
    <p>夏恺. <a href="mailto:xiaket@gmail.com">xiaket</a>. 居墨尔本.</p>
    <p>读书人, Pythonista, DevOps.</p>
    <div id='quick_access'>
      <a href="/"><i class="icon-home"></i></a>
      <a href="/archive.html"><i class="icon-list"></i></a>
    </div>
    <div id='social_buttons'>
      <a href="https://github.com/xiaket" target="_blank" rel="noopener"><i class="icon-github"></i></a>
      <a href="https://twitter.com/xiaket" target="_blank" rel="noopener"><i class="icon-twitter"></i></a>
    </div>
  </header>
