:root {
  --text: #000;
  --bg: #fff;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #bbb;
    --bg: #222;
  }
}

body{
  padding:20px;
  min-width: 300px;
}
main{
  margin:auto;
  max-width: 600px;
  padding: 40px 0px;
}
#wide-header{
  right: calc(100% + 20px);
  top: 40px;
  width: 140px;
  padding-right: 20px;
  border-right: 1px solid #244382;
}
#slim-header {
  top: 0px;
  left: 0px;
  z-index: 1;
}
#slim-header, footer{
  box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.4);
  width: 100%;
  font-size: 70%;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  footer, #slim-header {
    -webkit-backdrop-filter: brightness(1.2) blur(8px);
    backdrop-filter: brightness(1.2) blur(8px);
  }
}
blockquote {
  border-left: 5px solid lightgrey;
  color: #555;
}
article {
  margin-top: 40px;
}
footer {
  bottom: 0px;
  left: 0px;
}
footer p {
  margin: 6px 0px;
}
.pub_date {
  color: #8b8e86;
  font-size: 100%;
}
