---
layout: base
---
  <main class="p-relative">
    <header id="wide-header" class="hide-md p-absolute text-right">
      <div id="header-logo">
        <a href="/">
          <svg width="100" height="100" class="logo-svg">
            <defs>
              <radialGradient id="grad-wide" cx="50%" cy="50%" r="42%" fx="50%" fy="50%">
                <stop offset="0%" style="stop-color:#4467AD;" />
                <stop offset="100%" style="stop-color: #203D76;" />
              </radialGradient>
            </defs>
            <circle fill="url(#grad-wide)" class="svg-circle" cx="50" cy="50" r="42" />
            <path stroke="white" stroke-linecap="round" fill="transparent" class="svg-path1"/>
            <path stroke="white" stroke-linecap="round" fill="transparent" class="svg-path2"/>
            <path stroke="white" stroke-linecap="round" fill="transparent" class="svg-path3"/>
          </svg>
        </a>
      </div>
      <nav id="pc-nav">
        <div class="navbar-section">
          <a class="btn btn-link" href="/archive.html">Archive</a>
          <a class="btn btn-link" href="/archive-en.html">English Posts</a>
          <a class="btn btn-link" href="/novels/">Novels</a>
          <a class="btn btn-link" href="https://github.com/xiaket" target="_blank" rel="noopener">Github</a>
          <a class="btn btn-link" href="https://twitter.com/xiaket" target="_blank" rel="noopener">Twitter</a>
          <a class="btn btn-link" href="/feed.xml">RSS</a>
        </div>
      </nav>
    </header>
    <header id="slim-header" class="show-md p-fixed">
      <nav id="mobile-nav">
        <a href="/" id="mobile-home" class="float-left">
          <svg width="32" height="32" class="logo-svg">
            <defs>
              <radialGradient id="grad-mobile" cx="50%" cy="50%" r="42%" fx="50%" fy="50%">
                <stop offset="0%" style="stop-color:#4467AD;" />
                <stop offset="100%" style="stop-color: #203D76;" />
              </radialGradient>
            </defs>
            <circle fill="url(#grad-mobile)" class="svg-circle" cx="16" cy="16" r="13" />
            <path stroke="white" stroke-linecap="round" fill="transparent" class="svg-path1"/>
            <path stroke="white" stroke-linecap="round" fill="transparent" class="svg-path2"/>
            <path stroke="white" stroke-linecap="round" fill="transparent" class="svg-path3"/>
          </svg>
        </a>
        <div class="navbar-section">
          <a class="btn btn-link float-right" href="/feed.xml">RSS</a>
          <a class="btn btn-link float-right" href="https://twitter.com/xiaket" target="_blank" rel="noopener">Twitter</a>
          <a class="btn btn-link float-right" href="https://github.com/xiaket" target="_blank" rel="noopener">Github</a>
          <a class="btn btn-link float-right" href="/archive.html">Archive</a>
          <a class="btn btn-link float-right" href="/archive-en.html">English Posts</a>
          <a class="btn btn-link float-right" href="/novels/">Novels</a>
        </div>
      </nav>
    </header>
    {{ content }}
  </main>
  <footer class="text-center p-fixed">
    <p>夏恺/Kai Xia/<a href="mailto:kaix@fastmail.com">xiaket</a></p>
    <p>{{ site.m17n[page.lang].desc }}</p>
  </footer>
  <script type="text/javascript" src="/media/blog.js" integrity="sha384-8K/QwtMmxo7Zb5wbaGqUj9ZNbhE+F/4XOZx1NkaL5/cpLHv8waUElv3JdAenQuzW" crossorigin="anonymous"></script>
  <!-- Cloudflare Web Analytics -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "a988c252f84b47858734992152407b51"}'></script>
  <!-- End Cloudflare Web Analytics -->
  <script>
    window.addEventListener("load", writeK, true);
  </script>
